In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import scale
from sklearn.decomposition import PCA

In [2]:
df_de =pd.read_excel('data.xlsx',sheet_name='sheet1',index_col=0)
df_sf6 =pd.read_excel('data.xlsx',sheet_name='sheet2')
df_oog=pd.read_excel('data.xlsx',sheet_name='sheet3')
df_ldc=pd.read_excel('data.xlsx',sheet_name='sheet4')

In [3]:
df_de.head()

,FRS_Id,Facility_Name,City,State,Zip Code,Address,County,Latitude,Longitude,Primary_NAICS_Code,...,Total_rep_de_2020,Total_rep_de_2019,Total_rep_de_2018,Total_rep_de_2017,Total_rep_de_2016,Total_rep_de_2015,Total_rep_de_2014,Total_rep_de_2013,Total_rep_de_2012,Total_rep_de_2011
Facility Id,,,,,,,,,,,,,,,,,,,,,
1004377,1.100438e+11,121 REGIONAL DISPOSAL FACILITY,MELISSA,TX,75454,3820 SAM RAYBURN HIGHWAY,COLLIN COUNTY,33.298570,-96.535860,562212,...,504064.000,518680.250,653854.000000,250497.500000,221014.750000,199011.750000,241883.500000,289953.250000,204000.000000,194000.000000
1000112,1.100198e+11,23rd and 3rd,BROOKLYN,NY,11232,730 3rd Avenue,Kings,40.663000,-74.000000,221112,...,60819.700,44658.384,70705.288000,52698.656000,66797.352000,67399.252000,40722.200000,102599.220000,68984.744000,100591.828000
1013621,1.100708e+11,3Bear Libby Gas Plant,Hobbs,NM,88240,674 Marathon Rd,LEA COUNTY,32.540693,-103.522351,211130,...,40521.812,38691.478,435280.099943,431488.809907,447423.757318,467277.995747,491686.293592,500278.254166,507639.706331,534026.861412
1003742,1.100104e+11,31st Street Landfill,WESTCHESTER,IL,60154,11700 W 31ST ST,COOK COUNTY,41.835129,-87.915924,562212,...,100500.948,18925.400,31220.150000,29026.800000,120657.600000,92696.600000,120707.350000,97467.500000,87357.750000,95113.250000
1003188,1.100006e+11,3M BROWNWOOD,BROWNWOOD,TX,76801,4501 HIGHWAY 377 SOUTH,BROWN COUNTY,31.671177,-98.996513,326113,...,29359.640,30571.636,34432.420000,36202.264000,31773.480000,36754.712000,36419.864000,34821.820000,33671.924000,37149.360000

In [5]:
df_de.columns

Index(['FRS_Id', 'Facility_Name', 'City', 'State', 'Zip Code', 'Address',
       'County', 'Latitude', 'Longitude', 'Primary_NAICS_Code', 'IT_subparts',
       'IT_sectors', 'Total_rep_de_2020', 'Total_rep_de_2019',
       'Total_rep_de_2018', 'Total_rep_de_2017', 'Total_rep_de_2016',
       'Total_rep_de_2015', 'Total_rep_de_2014', 'Total_rep_de_2013',
       'Total_rep_de_2012', 'Total_rep_de_2011'],
      dtype='object')

In [6]:
df_de_group = df_de.groupby('State')[['Total_rep_de_2020', 'Total_rep_de_2019',
       'Total_rep_de_2018', 'Total_rep_de_2017', 'Total_rep_de_2016',
       'Total_rep_de_2015', 'Total_rep_de_2014', 'Total_rep_de_2013',
       'Total_rep_de_2012', 'Total_rep_de_2011']].mean().apply(lambda x: round(x,2))
df_de_group.info()

<class 'pandas.core.frame.DataFrame'>
Index: 54 entries, AK to WY
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Total_rep_de_2020  54 non-null     float64
 1   Total_rep_de_2019  54 non-null     float64
 2   Total_rep_de_2018  54 non-null     float64
 3   Total_rep_de_2017  54 non-null     float64
 4   Total_rep_de_2016  54 non-null     float64
 5   Total_rep_de_2015  54 non-null     float64
 6   Total_rep_de_2014  54 non-null     float64
 7   Total_rep_de_2013  54 non-null     float64
 8   Total_rep_de_2012  54 non-null     float64
 9   Total_rep_de_2011  54 non-null     float64
dtypes: float64(10)
memory usage: 4.6+ KB

In [7]:
df_de_group.describe()

,Total_rep_de_2020,Total_rep_de_2019,Total_rep_de_2018,Total_rep_de_2017,Total_rep_de_2016,Total_rep_de_2015,Total_rep_de_2014,Total_rep_de_2013,Total_rep_de_2012,Total_rep_de_2011
count,54.000000,54.000000,54.000000,54.000000,54.000000,54.000000,54.000000,54.000000,54.000000,5.400000e+01
mean,341519.065185,373414.029815,397565.381667,397353.626111,414912.537222,436718.639630,456891.439259,465164.853519,477648.179630,5.188616e+05
std,160845.240990,174789.235984,186897.263877,185616.317257,187268.665755,195600.449659,202133.595801,201888.766538,201715.149215,2.399984e+05
min,59417.180000,63455.640000,68642.990000,81703.720000,85414.820000,94672.340000,91641.670000,94677.980000,107202.080000,1.173564e+05
25%,255241.385000,276539.762500,264171.417500,263396.805000,268903.050000,290582.885000,299988.907500,294338.020000,325380.107500,3.648028e+05
50%,319187.815000,343344.105000,380908.440000,378141.555000,397191.230000,419423.655000,454315.090000,471625.920000,470430.760000,5.099477e+05
75%,421860.850000,454283.352500,485810.687500,452241.982500,481361.685000,516291.002500,531641.140000,562387.577500,560031.542500,6.063037e+05
max,776126.140000,808391.500000,878193.550000,892322.330000,856710.420000,915502.800000,926881.760000,989476.920000,983929.120000,1.373103e+06

We can notice that the average direct emissions has come down from 518301 metric tons to 341519 metric tons over the decade.

In [9]:
df_de_group.sort_values(by='Total_rep_de_2020',ascending =False)

,Total_rep_de_2020,Total_rep_de_2019,Total_rep_de_2018,Total_rep_de_2017,Total_rep_de_2016,Total_rep_de_2015,Total_rep_de_2014,Total_rep_de_2013,Total_rep_de_2012,Total_rep_de_2011
State,,,,,,,,,,
WY,776126.14,808391.50,878193.55,892322.33,856710.42,915502.80,926881.76,989476.92,983929.12,963811.98
PR,696112.75,625328.24,573758.37,556996.86,697742.95,804091.18,782278.04,805878.82,882734.37,934894.98
FL,692818.77,694640.28,776893.27,751406.71,766308.24,758304.39,757632.32,726163.05,760897.39,804265.35
MO,637050.23,672098.60,732764.01,773481.87,710799.37,750499.37,803290.61,833318.76,838128.63,899409.46
IN,583083.48,675722.35,758857.18,729155.23,744073.41,750705.49,840281.82,827593.48,830356.06,855324.65
ND,580395.25,615146.86,674565.09,644213.03,646100.53,679076.56,644829.38,694738.19,752845.07,764197.54
WV,569000.49,664185.86,716029.37,792153.65,835915.83,806055.90,841746.14,820841.32,818027.23,869435.19
MT,518496.09,745868.36,706961.20,732524.34,768073.90,834736.09,796977.24,758300.13,755540.98,780666.63
UT,510993.04,554437.81,576151.47,573405.94,579319.90,664224.72,674353.70,683702.75,628713.60,657320.89
KY,494451.58,585618.34,649977.34,644835.70,694570.40,749634.50,822944.33,818185.53,829946.00,908273.21
AZ,487898.79,461633.61,484312.57,445793.31,473793.03,523206.22,531944.99,568199.97,549761.17,539429.66
TX,441232.75,482479.51,505962.69,487191.20,507477.92,528998.16,555157.10,569479.12,577024.56,610141.98
NV,430280.33,435262.99,434531.63,405679.81,447740.04,473619.89,458485.41,472659.19,450300.65,447915.96
AL,428724.98,474103.87,488460.21,484708.39,513719.03,558207.78,582133.87,586507.32,603466.90,659053.59
OH,401268.46,410782.36,449717.71,451501.17,460217.18,474550.62,530729.59,538199.62,521569.15,546517.01
MS,387816.56,383533.17,404920.77,410169.50,412721.73,416499.30,396000.38,398728.90,414212.48,419074.88
NE,370176.80,405274.21,443124.41,415419.32,411766.40,451236.22,474404.11,503120.39,480287.31,515094.68
PA,369877.20,410314.14,415781.46,436646.64,456417.08,490621.78,529067.70,538638.11,529632.85,564690.10
NC,368781.21,458386.62,486310.06,492178.57,525250.18,533039.38,565806.89,544950.40,563455.00,594788.70
CO,356024.83,412309.55,426198.32,442287.72,443049.33,466283.35,480452.15,493993.94,505045.65,524792.27
RI,349757.34,321878.90,353822.75,324078.86,287593.53,312173.90,280579.99,283762.09,381485.61,386957.37
AR,332116.35,441973.55,506680.88,452488.92,446748.23,422348.01,523476.89,532093.02,542592.66,538902.19
IL,330355.20,379220.85,395723.07,381174.05,397515.97,449971.12,496995.21,510896.62,496721.65,507097.44
VA,329679.09,326532.18,351749.96,346512.42,380723.95,366486.49,365293.07,386907.61,364838.83,388400.38
LA,327607.39,360921.79,373408.20,375109.06,387779.54,396965.50,410880.31,435798.04,449317.17,474153.50
SC,326637.72,347527.47,397129.95,361197.94,396866.49,412685.02,444435.71,410053.20,482670.42,543828.77
GA,325187.36,404745.24,430292.86,434020.25,476250.57,463425.19,496506.70,470629.24,490869.90,560466.83
NM,313188.27,365566.71,383304.47,435356.50,440711.15,495545.35,525340.87,585629.94,591983.61,621886.70
WI,312118.50,334234.29,374343.36,369165.12,348676.98,372030.42,363339.72,384382.67,364807.35,396896.63
KS,311466.99,330132.54,359850.94,347728.75,389344.66,400004.63,450546.76,472622.60,457642.81,498166.10
MI,309382.35,370899.31,408916.78,400544.09,404235.52,428828.00,421084.21,450982.98,460574.21,471646.38
DE,309249.64,332767.39,391146.20,415177.62,483065.39,489813.78,497574.28,499886.73,549123.25,425387.17
TN,289648.79,339160.74,368727.82,427307.81,453497.89,454638.62,493958.55,479277.89,528675.60,567565.72
OK,286416.50,314806.29,368126.05,362981.08,396054.22,428154.90,456527.29,492965.24,516832.74,536903.64
MD,271028.66,314727.16,378512.41,310012.51,392373.40,397055.25,452102.89,417013.18,453825.11,512797.89
CT,268620.23,237914.18,255290.80,219561.65,239433.20,251134.94,231299.95,246119.23,239076.01,250045.63
VI,268431.88,196494.48,169029.52,163588.02,227261.80,222925.77,216450.09,229646.84,394947.35,1373102.81
MN,265116.04,310970.44,346755.82,339486.38,344864.68,352349.17,382644.90,349577.64,352706.18,405025.02
IA,263334.27,320628.67,368146.25,339049.53,326616.11,352615.62,386490.14,395115.25,421551.96,445324.49
WA,257405.48,311385.97,278178.14,282699.90,274696.89,289653.94,309652.39,318919.12,273626.45,312089.36
HI,254520.02,286415.35,286583.61,290892.75,307583.52,315924.41,321383.29,318212.72,336628.30,367942.81
CA,240849.09,248689.46,259502.51,256962.44,266971.77,293369.72,304024.98,305898.46,321630.71,300465.00
OR,233014.78,273247.90,235076.82,227158.74,231659.32,264688.95,240278.84,253895.39,227955.00,226818.73
NJ,232690.46,287274.95,283461.13,290854.35,322068.61,305340.03,298643.55,284314.78,292568.76,292092.52
AK,227011.06,233904.35,246871.20,255894.19,246508.15,255401.99,257566.55,290484.54,293095.41,298925.04
NY,171527.16,167906.13,189795.27,183484.83,210898.27,228234.79,232119.52,241705.63,260896.83,264341.76
GU,151643.55,156102.29,154547.92,206545.88,200145.74,275758.71,515746.12,501990.44,497052.67,545888.17
SD,144705.55,187814.75,197437.23,187672.65,192038.30,173343.61,212492.97,233797.08,233627.98,277287.08
ID,134169.21,136978.75,140242.01,152592.54,168784.60,177920.57,174757.01,189726.15,162378.46,172407.25
NH,128043.94,143346.83,160222.29,140816.93,170515.72,236302.46,223190.38,259376.03,310904.35,363756.17
MA,127168.92,134053.97,159915.94,183558.54,179693.44,191147.31,178564.18,189408.77,204649.26,222281.04
ME,103363.10,118908.71,160610.37,186730.75,210673.64,210189.13,235435.13,247876.77,267771.69,295204.89
VT,86547.72,88252.15,83014.41,81703.72,85414.82,94672.34,91641.67,94677.98,107202.08,117356.44
DC,59417.18,63455.64,68642.99,162915.75,166244.07,172613.20,185716.08,182582.31,186897.16,198014.91

Comparing both the tables,We can see that Wyoming tops the list in the 2020-2017.. other states seems to have reduced the direct emission better that Wyoming.

In [10]:
df_de_it = df_de.groupby('IT_sectors')[['Total_rep_de_2020', 'Total_rep_de_2019',
       'Total_rep_de_2018', 'Total_rep_de_2017', 'Total_rep_de_2016',
       'Total_rep_de_2015', 'Total_rep_de_2014', 'Total_rep_de_2013',
       'Total_rep_de_2012', 'Total_rep_de_2011']].mean().apply(lambda x: round(x,2))
df_de_it.describe()

,Total_rep_de_2020,Total_rep_de_2019,Total_rep_de_2018,Total_rep_de_2017,Total_rep_de_2016,Total_rep_de_2015,Total_rep_de_2014,Total_rep_de_2013,Total_rep_de_2012,Total_rep_de_2011
count,6.200000e+01,6.200000e+01,6.200000e+01,6.200000e+01,6.200000e+01,6.200000e+01,6.200000e+01,6.200000e+01,6.200000e+01,6.200000e+01
mean,1.491950e+06,1.568212e+06,1.617135e+06,1.569384e+06,1.583370e+06,1.645018e+06,1.651817e+06,1.687177e+06,1.665998e+06,1.686357e+06
std,1.867757e+06,1.939223e+06,1.968377e+06,1.924594e+06,1.936530e+06,2.003390e+06,1.992219e+06,2.049031e+06,2.016930e+06,2.080075e+06
min,2.804500e+02,1.892000e+02,3.068500e+02,3.581500e+02,2.950500e+02,4.840000e+01,2.807500e+02,1.575940e+03,2.787000e+02,2.597000e+02
25%,9.116006e+04,1.077157e+05,1.214967e+05,1.492012e+05,1.624602e+05,1.754746e+05,1.974780e+05,2.074177e+05,2.524441e+05,2.841495e+05
50%,4.784886e+05,7.082570e+05,7.488351e+05,7.198152e+05,6.634311e+05,7.037434e+05,7.386794e+05,7.457140e+05,7.589737e+05,7.502238e+05
75%,2.207703e+06,2.268102e+06,2.214498e+06,2.169771e+06,2.375431e+06,2.397181e+06,2.227839e+06,2.258289e+06,2.254042e+06,2.434158e+06
max,6.558090e+06,7.655594e+06,6.973092e+06,7.115795e+06,7.195194e+06,7.192878e+06,7.229060e+06,7.387407e+06,7.276498e+06,7.303151e+06

In [11]:
df_de_it.sort_values(by='Total_rep_de_2020',ascending =False)

,Total_rep_de_2020,Total_rep_de_2019,Total_rep_de_2018,Total_rep_de_2017,Total_rep_de_2016,Total_rep_de_2015,Total_rep_de_2014,Total_rep_de_2013,Total_rep_de_2012,Total_rep_de_2011
IT_sectors,,,,,,,,,,
"Petroleum Product Suppliers,Power Plants,Refineries",6558089.82,7655594.26,6973092.12,7115794.78,7195194.16,7192877.50,7229059.90,7296911.90,7276497.55,7079397.05
"Metals,Minerals",6173199.15,6200941.83,6360091.48,6972176.48,6893399.94,6218607.99,5421539.14,7387406.71,6783331.46,7303151.34
"Chemicals,Petroleum Product Suppliers,Power Plants,Refineries",5969593.13,5917240.99,5580514.16,5787700.12,5940916.04,5686561.64,5332974.71,6414722.23,5933102.42,6303441.65
"Metals,Power Plants",5963440.23,5235337.92,5379019.29,3467216.61,4457285.26,6827547.91,6777676.78,6608802.94,6528200.04,6875397.98
"Chemicals,Other,Petroleum Product Suppliers,Power Plants,Refineries",5106325.56,4984461.77,4812576.46,4722108.68,4808428.04,4829511.09,4593399.59,4199729.61,4768345.72,4692405.17
...,...,...,...,...,...,...,...,...,...,...
"Chemicals,Industrial Gas Suppliers,Waste",32761.46,42333.54,54078.74,103988.20,50211.76,655440.68,761651.07,1012023.50,869407.86,831665.61
"Import and Export of Equipment Containing Fluorintaed GHGs,Industrial Gas Suppliers,Other",30481.32,38044.08,45862.20,62335.20,41806.08,41790.12,27882.12,27353.16,32676.96,23828.28
"Other,Petroleum and Natural Gas Systems",14696.44,12696.30,27229.40,23020.89,21089.37,29296.96,491686.29,500278.25,507639.71,534026.86
"Industrial Gas Suppliers,Other",11121.51,11388.01,12234.50,12399.95,15489.89,14522.14,14631.10,14987.24,17111.94,19201.03
"Natural Gas and Natural Gas Liquids Suppliers,Other",280.45,189.20,306.85,358.15,295.05,48.40,280.75,1575.94,278.70,259.70

In [13]:
df_de_it_state = df_de[['State', 'IT_sectors']]

In [14]:
df_de_it_state[df_de_it_state.State == 'TX'].sort_values(by='IT_sectors')

            State IT_sectors
Facility Id
1006890        TX  Chemicals
1003899        TX  Chemicals
1000346        TX  Chemicals
1003134        TX  Chemicals
1003781        TX  Chemicals
...           ...        ...
1006227        TX      Waste
1003001        TX      Waste
1002085        TX      Waste
1000372        TX      Waste
1004377        TX      Waste

[813 rows x 2 columns]

In [15]:
df_de_it_state.groupby('State').count().sort_values(by='IT_sectors', ascending=False)

       IT_sectors
State
TX            813
LA            414
CA            376
PA            280
OH            255
IL            233
MI            214
NY            204
IN            191
FL            173
AL            172
OK            169
GA            164
IA            152
KY            134
VA            133
MN            131
WI            129
NC            125
WV            118
TN            118
CO            112
MO            107
MS            106
KS            104
AR             99
SC             98
WA             90
AZ             89
NJ             87
NM             87
NE             72
MA             69
WY             68
UT             65
AK             63
ND             62
MD             58
OR             58
CT             40
NV             39
ID             37
SD             36
ME             28
HI             28
MT             28
PR             20
DE             19
NH             17
RI             10
GU              8
VT              5
VI              4
DC              4

In [16]:
df_de_it_st = df_de.groupby(['State','IT_sectors'])[['Total_rep_de_2020', 'Total_rep_de_2019',
       'Total_rep_de_2018', 'Total_rep_de_2017', 'Total_rep_de_2016',
       'Total_rep_de_2015', 'Total_rep_de_2014', 'Total_rep_de_2013',
       'Total_rep_de_2012', 'Total_rep_de_2011']].mean().apply(lambda x: round(x,2))

In [17]:
df_de_it_st.head()

                                                          Total_rep_de_2020  \
State IT_sectors
AK    Chemicals,Petroleum Product Suppliers,Refineries             85459.44
      Chemicals,Petroleum and Natural Gas Systems,Ref...          475952.98
      Other                                                        84518.85
      Petroleum Product Suppliers,Refineries                      183045.13
      Petroleum and Natural Gas Systems                           453520.61

                                                          Total_rep_de_2019  \
State IT_sectors
AK    Chemicals,Petroleum Product Suppliers,Refineries             85877.31
      Chemicals,Petroleum and Natural Gas Systems,Ref...          600981.03
      Other                                                        76957.84
      Petroleum Product Suppliers,Refineries                      202376.40
      Petroleum and Natural Gas Systems                           445897.42

                                                          Total_rep_de_2018  \
State IT_sectors
AK    Chemicals,Petroleum Product Suppliers,Refineries             79770.61
      Chemicals,Petroleum and Natural Gas Systems,Ref...          695400.30
      Other                                                       135133.68
      Petroleum Product Suppliers,Refineries                      205750.48
      Petroleum and Natural Gas Systems                           444387.77

                                                          Total_rep_de_2017  \
State IT_sectors
AK    Chemicals,Petroleum Product Suppliers,Refineries             73953.38
      Chemicals,Petroleum and Natural Gas Systems,Ref...          723807.79
      Other                                                       137083.32
      Petroleum Product Suppliers,Refineries                      199390.18
      Petroleum and Natural Gas Systems                           442243.90

                                                          Total_rep_de_2016  \
State IT_sectors
AK    Chemicals,Petroleum Product Suppliers,Refineries             72235.88
      Chemicals,Petroleum and Natural Gas Systems,Ref...          589663.71
      Other                                                       108366.96
      Petroleum Product Suppliers,Refineries                      187904.77
      Petroleum and Natural Gas Systems                           447281.86

                                                          Total_rep_de_2015  \
State IT_sectors
AK    Chemicals,Petroleum Product Suppliers,Refineries             80653.72
      Chemicals,Petroleum and Natural Gas Systems,Ref...          604584.14
      Other                                                       111860.71
      Petroleum Product Suppliers,Refineries                      190899.49
      Petroleum and Natural Gas Systems                           458422.66

                                                          Total_rep_de_2014  \
State IT_sectors
AK    Chemicals,Petroleum Product Suppliers,Refineries            114751.11
      Chemicals,Petroleum and Natural Gas Systems,Ref...          577309.02
      Other                                                       115089.78
      Petroleum Product Suppliers,Refineries                      193758.65
      Petroleum and Natural Gas Systems                           438472.14

                                                          Total_rep_de_2013  \
State IT_sectors
AK    Chemicals,Petroleum Product Suppliers,Refineries            105020.37
      Chemicals,Petroleum and Natural Gas Systems,Ref...          590568.96
      Other                                                       151755.29
      Petroleum Product Suppliers,Refineries                      179286.89
      Petroleum and Natural Gas Systems                           457758.32

                                                          Total_rep_de_2012  \
State IT_sectors
AK    Chemicals,Petroleum Product Suppliers,Refineries             99235.41
      Chemicals,Petroleum and Natural Gas Systems,Ref...          541363.93
      Other                                                       151700.14
      Petroleum Product Suppliers,Refineries                      190521.00
      Petroleum and Natural Gas Systems                           453003.79

                                                          Total_rep_de_2011
State IT_sectors
AK    Chemicals,Petroleum Product Suppliers,Refineries             99274.65
      Chemicals,Petroleum and Natural Gas Systems,Ref...          549799.53
      Other                                                       153566.57
      Petroleum Product Suppliers,Refineries                      194482.54
      Petroleum and Natural Gas Systems                           437657.73

In [18]:
df_de_it_st.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 626 entries, ('AK', 'Chemicals,Petroleum Product Suppliers,Refineries') to ('WY', 'Waste')
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Total_rep_de_2020  626 non-null    float64
 1   Total_rep_de_2019  626 non-null    float64
 2   Total_rep_de_2018  626 non-null    float64
 3   Total_rep_de_2017  626 non-null    float64
 4   Total_rep_de_2016  626 non-null    float64
 5   Total_rep_de_2015  626 non-null    float64
 6   Total_rep_de_2014  626 non-null    float64
 7   Total_rep_de_2013  626 non-null    float64
 8   Total_rep_de_2012  626 non-null    float64
 9   Total_rep_de_2011  626 non-null    float64
dtypes: float64(10)
memory usage: 51.1+ KB

In [19]:
df_sf6.columns

Index(['Facility Id', 'FRD_id', 'Facility_Name', 'City', 'State', 'Zip_Code',
       'Address', 'County', 'Latitude', 'Longitude', 'Primary_NAICS_Code',
       'IT_subparts', 'Total_de_EE_2020', 'SF6_emissions_2020 ',
       'Total_de_EE_2019', 'SF6_emissions_2019', 'Total_de_EE_2018',
       'SF6_emissions_2018', 'Total_de_EE_2017', 'SF6_emissions_2017',
       'Total_de_EE_2016', 'SF6_emissions_2016', 'Total_de_EE_2015',
       'SF6_emissions_2015', 'Total_de_EE_2014', 'SF6_emissions_2014',
       'Total_de_EE_2013', 'SF6_emissions_2013', 'Total_de_EE_2012',
       'SF6_emissions_2012', 'Total_de_EE_2011', 'SF6_emissions_2011'],
      dtype='object')

In [17]:
df_sf6_it = df_sf6.groupby('Industry Type (subparts)')[['Total reported direct emissions from Electrical Equipment Use','Total reported direct emissions from Electrical Equipment Use_2019','Total reported direct emissions from Electrical Equipment Use_2018','Total reported direct emissions from Electrical Equipment Use_2017','Total reported direct emissions from Electrical Equipment Use_2016','Total reported direct emissions from Electrical Equipment Use_2015','Total reported direct emissions from Electrical Equipment Use_2014','Total reported direct emissions from Electrical Equipment Use_2013','Total reported direct emissions from Electrical Equipment Use_2012','Total reported direct emissions from Electrical Equipment Use_2011']].mean().apply(lambda x: round(x,2))

In [19]:
df_sf6_it.head()

,Total reported direct emissions from Electrical Equipment Use,Total reported direct emissions from Electrical Equipment Use_2019,Total reported direct emissions from Electrical Equipment Use_2018,Total reported direct emissions from Electrical Equipment Use_2017,Total reported direct emissions from Electrical Equipment Use_2016,Total reported direct emissions from Electrical Equipment Use_2015,Total reported direct emissions from Electrical Equipment Use_2014,Total reported direct emissions from Electrical Equipment Use_2013,Total reported direct emissions from Electrical Equipment Use_2012,Total reported direct emissions from Electrical Equipment Use_2011
Industry Type (subparts),,,,,,,,,,
"C,D,DD",10.26,0.00,-511.86,9.12,0.00,0.00,0.00,0.00,0.00,0.00
"C,D,DD,MM-REF,P,Y",1158.24,1454.64,1083.00,579.12,114.00,428.64,2088.48,693.12,346.56,NaN
"C,DD",133.00,0.00,140.60,129.20,155.80,131.10,90.06,356.82,0.00,248.52
"C,DD,TT,W-UNSTG,X",29.64,0.00,567.72,1643.88,0.00,1035.12,1035.12,1035.12,6826.32,2275.44
"D,DD",381.33,312.93,27.36,1254.00,856.14,290.70,-3247.29,1393.08,638.40,1175.34

Sulfur hexafluoride (SF6) is a synthetic fluorinated compound with an extremely stable molecular structure. Because of its unique dielectric properties, electric utilities rely heavily on SF6 in electric power systems for voltage electrical insulation, current interruption, and arc quenching in the transmission and distribution of electricity. Yet, it is also the most potent greenhouse gas known to-date. Over a 100-year period, SF6 is 22,800 times more effective at trapping infrared radiation than an equivalent amount of carbon dioxide (CO2). SF6 is also a very stable chemical, with an atmospheric lifetime of 3,200 years. As the gas is emitted, it accumulates in the atmosphere in an essentially un-degraded state for many centuries. Thus, a relatively small amount of SF6 can have a significant impact on global climate change.

The electric power industry can reduce the nationâ€™s SF6 emissions through cost-effective operational improvements and equipment upgrades. Through improvements in the leak rate of new equipment, refurbishing older equipment, and the use of more efficient operation and maintenance techniques, utilities often find economical solutions to reduce SF6 emissions. For more info, citation: https://www.epa.gov/eps-partnership/sulfur-hexafluoride-sf6-basics

In [85]:
df_sf6_it_st = df_sf6.groupby(['Reported State','Industry Type (subparts)'])[['Total reported direct emissions from Electrical Equipment Use','Total reported direct emissions from Electrical Equipment Use_2019','Total reported direct emissions from Electrical Equipment Use_2018','Total reported direct emissions from Electrical Equipment Use_2017','Total reported direct emissions from Electrical Equipment Use_2016','Total reported direct emissions from Electrical Equipment Use_2015','Total reported direct emissions from Electrical Equipment Use_2014','Total reported direct emissions from Electrical Equipment Use_2013','Total reported direct emissions from Electrical Equipment Use_2012','Total reported direct emissions from Electrical Equipment Use_2011']].mean().apply(lambda x: round(x,2))
df_sf6_it_st.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 44 entries, ('AL', 'DD') to ('WA', 'DD')
Data columns (total 10 columns):
 #   Column                                                              Non-Null Count  Dtype
---  ------                                                              --------------  -----
 0   Total reported direct emissions from Electrical Equipment Use       44 non-null     float64
 1   Total reported direct emissions from Electrical Equipment Use_2019  42 non-null     float64
 2   Total reported direct emissions from Electrical Equipment Use_2018  42 non-null     float64
 3   Total reported direct emissions from Electrical Equipment Use_2017  41 non-null     float64
 4   Total reported direct emissions from Electrical Equipment Use_2016  40 non-null     float64
 5   Total reported direct emissions from Electrical Equipment Use_2015  39 non-null     float64
 6   Total reported direct emissions from Electrical Equipment Use_2014  40 non-null     float64
 7   Total reported direct emissions from Electrical Equipment Use_2013  40 non-null     float64
 8   Total reported direct emissions from Electrical Equipment Use_2012  39 non-null     float64
 9   Total reported direct emissions from Electrical Equipment Use_2011  37 non-null     float64
dtypes: float64(10)
memory usage: 4.0+ KB

In [27]:
df_sf6_it_state = df_sf6[['Reported State', 'Industry Type (subparts)']]

In [29]:
df_sf6_it_state.groupby('Reported State').count().sort_values(by='Industry Type (subparts)', ascending=False)

                Industry Type (subparts)
Reported State
TX                                    14
CA                                    10
NY                                     6
WA                                     4
MI                                     4
FL                                     4
PA                                     4
MN                                     4
OH                                     3
IN                                     3
AZ                                     3
NV                                     2
MO                                     2
ND                                     2
KY                                     2
IA                                     2
MA                                     1
OR                                     1
VT                                     1
VA                                     1
UT                                     1
CO                                     1
TN                                     1
SC                                     1
PR                                     1
GA                                     1
OK                                     1
LA                                     1
HI                                     1
IL                                     1
NM                                     1
NJ                                     1
NE                                     1
KS                                     1
NC                                     1
AL                                     1

In [30]:
df_sf6_it_state.groupby('Industry Type (subparts)').count().sort_values(by='Reported State', ascending=False)

                          Reported State
Industry Type (subparts)
DD                                    78
D,DD                                   4
C,DD                                   3
C,D,DD                                 2
C,D,DD,MM-REF,P,Y                      1
C,DD,TT,W-UNSTG,X                      1

In [32]:
df_sf6_it_st.sort_values(by='Total reported direct emissions from Electrical Equipment Use',ascending =False)

,,Total reported direct emissions from Electrical Equipment Use,Total reported direct emissions from Electrical Equipment Use_2019,Total reported direct emissions from Electrical Equipment Use_2018,Total reported direct emissions from Electrical Equipment Use_2017,Total reported direct emissions from Electrical Equipment Use_2016,Total reported direct emissions from Electrical Equipment Use_2015,Total reported direct emissions from Electrical Equipment Use_2014,Total reported direct emissions from Electrical Equipment Use_2013,Total reported direct emissions from Electrical Equipment Use_2012,Total reported direct emissions from Electrical Equipment Use_2011
Reported State,Industry Type (subparts),,,,,,,,,,
NC,DD,249121.92,338520.72,255959.64,320859.84,399896.04,181387.68,299769.84,172326.96,216374.28,286543.56
OH,DD,92007.88,101688.76,101016.16,108908.76,203771.20,91333.00,96539.76,115881.76,130469.96,186095.12
CO,DD,69218.52,6561.84,7765.68,10011.48,16092.24,42373.80,12147.84,92435.76,56632.92,18670.92
GA,DD,67909.80,37998.48,89904.96,113015.04,78429.72,66097.20,71040.24,89975.64,86316.24,73897.08
MN,DD,49673.79,23822.01,32816.04,35059.56,14588.58,30987.48,21832.52,14250.00,29336.76,17027.04
CA,DD,46470.96,39788.85,66263.07,47804.76,57812.25,36615.09,36539.85,34689.06,38224.20,45692.34
FL,DD,43358.76,69655.14,71476.48,78203.24,35660.63,50425.82,78261.38,66135.96,66753.08,41689.04
TN,DD,35547.48,324988.92,117862.32,159324.12,117903.36,100908.24,86523.72,107577.24,206392.44,205327.68
OK,DD,32902.68,43771.44,37975.68,12084.00,20583.84,23971.92,76931.76,27952.80,53390.76,31493.64
VA,DD,30973.80,38338.20,39900.00,42266.64,42845.76,53819.40,75670.92,43342.80,47759.16,116872.80
NM,DD,29047.20,6630.24,36990.72,35782.32,32606.28,19881.60,36521.04,16614.36,14626.20,13502.16
SC,DD,28037.16,NaN,NaN,NaN,NaN,NaN,7606.08,6438.72,7850.04,5661.24
UT,DD,25203.12,19060.80,67244.04,89519.64,121435.08,69115.92,150350.04,157962.96,123357.12,168672.12
KY,DD,20884.80,9496.20,14847.36,44871.54,35198.64,33660.78,61570.26,12646.02,32407.92,21339.66
NJ,DD,18472.56,18882.96,24149.76,33568.44,62134.56,64068.00,12669.96,62018.28,74608.44,NaN
NY,DD,16802.08,23137.82,19010.26,20166.98,25836.20,37309.92,41350.99,41871.74,50733.99,56099.97
AZ,DD,16429.68,28308.48,20971.44,16984.48,23502.24,38300.20,25325.48,13251.36,10123.96,43458.32
MA,DD,13816.80,12866.04,14986.44,10930.32,56548.56,29722.08,38668.80,28739.40,28739.40,36890.40
MI,DD,12520.05,7779.36,6553.48,11857.52,4452.84,4757.60,13613.88,23905.04,14804.80,11472.20
LA,DD,11625.72,152794.20,116307.36,221214.72,205229.64,104437.68,263602.20,421952.76,NaN,NaN
WA,DD,10676.10,9631.86,9439.77,18828.24,11399.43,17477.91,14297.88,31950.21,24018.09,12241.32
IA,DD,10560.96,18566.04,9227.16,15923.52,15271.44,21206.28,30914.52,23196.72,7405.44,17911.68
TX,DD,10044.02,7891.70,3991.24,12816.79,23857.92,25403.30,29761.75,19783.10,16400.95,23427.46
KS,DD,9993.24,58714.56,5761.56,33607.20,25355.88,27362.28,32173.08,50700.36,100753.20,62515.32
PR,DD,9742.44,15353.52,37202.76,29927.28,15317.04,30415.20,34307.16,58215.24,32772.72,25358.16
NE,DD,9560.04,3777.96,5237.16,3242.16,262.20,5943.96,13695.96,24578.40,10996.44,20627.16
PA,DD,8532.52,13744.60,31172.16,23063.34,35540.64,47188.02,53334.90,57371.64,36899.52,52685.10
IL,DD,7644.84,8846.40,30171.24,9888.36,23251.44,10488.00,20241.84,28244.64,91298.04,11251.80
NV,DD,6321.30,6837.72,12253.86,6700.92,3756.30,5999.82,7698.42,5820.84,3427.98,1784.10
OR,DD,5538.12,15367.20,6014.64,2729.16,344.28,9094.92,26557.44,5627.04,5613.36,620.16
HI,DD,3600.12,7065.72,3549.96,3342.48,2966.28,6019.20,2802.12,0.00,661.20,857.28
IN,DD,3345.90,21622.38,14663.82,592.80,55634.28,26021.64,47629.20,3983.16,16844.64,48244.80
ND,DD,3125.88,25023.00,6030.60,0.00,NaN,NaN,NaN,NaN,NaN,NaN
MO,DD,2960.58,5869.86,8531.76,20301.12,5180.16,5492.52,35928.24,13025.64,14322.96,31703.40
TX,"D,DD",1525.32,1251.72,109.44,5016.00,3424.56,1162.80,-12989.16,5572.32,2553.60,4701.36
IN,"C,D,DD,MM-REF,P,Y",1158.24,1454.64,1083.00,579.12,114.00,428.64,2088.48,693.12,346.56,NaN
VT,DD,319.20,832.20,549.48,387.60,768.36,2432.76,841.32,1304.16,410.40,870.96
CA,"C,DD",199.50,0.00,210.90,193.80,233.70,131.10,90.06,356.82,0.00,248.52
AL,DD,114.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TX,"C,DD,TT,W-UNSTG,X",29.64,0.00,567.72,1643.88,0.00,1035.12,1035.12,1035.12,6826.32,2275.44
IA,"C,D,DD",20.52,0.00,-1023.72,9.12,0.00,0.00,0.00,0.00,0.00,0.00
PA,"C,D,DD",0.00,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TX,"C,DD",0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,NaN
CA,"D,DD",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [37]:
df_sf6_it_state.sort_values(by='Reported State')

   Reported State Industry Type (subparts)
62             AL                       DD
4              AZ                       DD
85             AZ                       DD
71             AZ                       DD
42             CA                       DD
..            ...                      ...
86             VT                       DD
74             WA                       DD
5              WA                       DD
9              WA                       DD
64             WA                       DD

[89 rows x 2 columns]

In [38]:
df_sf6_it_state.groupby(['Reported State','Industry Type (subparts)']).count().sort_values(by='Industry Type (subparts)', ascending=False)

Empty DataFrame
Columns: []
Index: [(AL, DD), (MO, DD), (AZ, DD), (NE, DD), (NJ, DD), (NM, DD), (NV, DD), (NY, DD), (OH, DD), (OK, DD), (OR, DD), (PA, DD), (PR, DD), (SC, DD), (TN, DD), (TX, DD), (UT, DD), (VA, DD), (VT, DD), (NC, DD), (ND, DD), (MN, DD), (IA, DD), (CA, DD), (CO, DD), (FL, DD), (GA, DD), (HI, DD), (MI, DD), (WA, DD), (IL, DD), (IN, DD), (KS, DD), (KY, DD), (LA, DD), (MA, DD), (TX, D,DD), (CA, D,DD), (TX, C,DD,TT,W-UNSTG,X), (TX, C,DD), (CA, C,DD), (IN, C,D,DD,MM-REF,P,Y), (PA, C,D,DD), (IA, C,D,DD)]

In [39]:
df_oog.columns

Index(['Facility Id', 'FRS Id', 'Facility Name', 'Basin', 'Reported City',
       'Reported State', 'Reported Zip Code', 'Reported Address',
       'Reported County', 'Reported Latitude', 'Reported Longitude',
       'Primary NAICS Code', 'Industry Type (subparts)',
       'Total reported emissions from Onshore Oil & Gas Production ',
       'CO2 emissions (non-biogenic) ', 'Methane (CH4) emissions ',
       'Nitrous Oxide (N2O) emissions ',
       'Total reported emissions from Onshore Oil & Gas Production _2019',
       'CO2 emissions (non-biogenic) _2019', 'Methane (CH4) emissions _2019',
       'Nitrous Oxide (N2O) emissions _2019',
       'Total reported emissions from Onshore Oil & Gas Production _2018',
       'CO2 emissions (non-biogenic) _2018', 'Methane (CH4) emissions _2018',
       'Nitrous Oxide (N2O) emissions _2018',
       'Total reported emissions from Onshore Oil & Gas Production _2017',
       'CO2 emissions (non-biogenic) _2017', 'Methane (CH4) emissions _2017',
       'Nitrous Oxide (N2O) emissions _2017',
       'Total reported emissions from Onshore Oil & Gas Production _2016',
       'CO2 emissions (non-biogenic) _2016', 'Methane (CH4) emissions _2016',
       'Nitrous Oxide (N2O) emissions _2016',
       'Total reported emissions from Onshore Oil & Gas Production _2015',
       'CO2 emissions (non-biogenic) _2015', 'Methane (CH4) emissions _2015',
       'Nitrous Oxide (N2O) emissions _2015',
       'Total reported emissions from Onshore Oil & Gas Production _2014',
       'CO2 emissions (non-biogenic) _2014', 'Methane (CH4) emissions _2014',
       'Nitrous Oxide (N2O) emissions _2014',
       'Total reported emissions from Onshore Oil & Gas Production _2013',
       'CO2 emissions (non-biogenic) _2013', 'Methane (CH4) emissions _2013',
       'Nitrous Oxide (N2O) emissions _2013',
       'Total reported emissions from Onshore Oil & Gas Production _2012',
       'CO2 emissions (non-biogenic) _2012', 'Methane (CH4) emissions _2012',
       'Nitrous Oxide (N2O) emissions _2012',
       'Total reported emissions from Onshore Oil & Gas Production _2011',
       'CO2 emissions (non-biogenic) _2011', 'Methane (CH4) emissions _2011',
       'Nitrous Oxide (N2O) emissions _2011'],
      dtype='object')

In [45]:
df_oog_it_st = df_oog.groupby(['Reported State','Industry Type (subparts)'])[['Total reported emissions from Onshore Oil & Gas Production ','Total reported emissions from Onshore Oil & Gas Production _2019','Total reported emissions from Onshore Oil & Gas Production _2018','Total reported emissions from Onshore Oil & Gas Production _2017','Total reported emissions from Onshore Oil & Gas Production _2016','Total reported emissions from Onshore Oil & Gas Production _2015','Total reported emissions from Onshore Oil & Gas Production _2014','Total reported emissions from Onshore Oil & Gas Production _2013','Total reported emissions from Onshore Oil & Gas Production _2012','Total reported emissions from Onshore Oil & Gas Production _2011']].mean().apply(lambda x: round(x,2))

In [46]:
df_oog_it_st.head()

                                         Total reported emissions from Onshore Oil & Gas Production   \
Reported State Industry Type (subparts)
AK             W-ONSH                                                            193788.34
AR             UU,W-ONSH                                                          31360.80
               W-ONSH                                                            725019.83
CA             NN-FRAC,W-ONSH                                                     31463.09
               W-ONSH                                                            153642.83

                                         Total reported emissions from Onshore Oil & Gas Production _2019  \
Reported State Industry Type (subparts)
AK             W-ONSH                                                            194756.38
AR             UU,W-ONSH                                                          32928.77
               W-ONSH                                                            690915.83
CA             NN-FRAC,W-ONSH                                                     26161.81
               W-ONSH                                                            181389.98

                                         Total reported emissions from Onshore Oil & Gas Production _2018  \
Reported State Industry Type (subparts)
AK             W-ONSH                                                            205199.25
AR             UU,W-ONSH                                                          31222.60
               W-ONSH                                                            666601.28
CA             NN-FRAC,W-ONSH                                                     26581.46
               W-ONSH                                                            174891.11

                                         Total reported emissions from Onshore Oil & Gas Production _2017  \
Reported State Industry Type (subparts)
AK             W-ONSH                                                            163625.17
AR             UU,W-ONSH                                                          27933.25
               W-ONSH                                                            261873.53
CA             NN-FRAC,W-ONSH                                                     27277.41
               W-ONSH                                                            168409.82

                                         Total reported emissions from Onshore Oil & Gas Production _2016  \
Reported State Industry Type (subparts)
AK             W-ONSH                                                            179725.83
AR             UU,W-ONSH                                                          31319.84
               W-ONSH                                                            261063.78
CA             NN-FRAC,W-ONSH                                                          NaN
               W-ONSH                                                             98141.67

                                         Total reported emissions from Onshore Oil & Gas Production _2015  \
Reported State Industry Type (subparts)
AK             W-ONSH                                                            152782.58
AR             UU,W-ONSH                                                          34804.90
               W-ONSH                                                            276770.48
CA             NN-FRAC,W-ONSH                                                          NaN
               W-ONSH                                                            107760.20

                                         Total reported emissions from Onshore Oil & Gas Production _2014  \
Reported State Industry Type (subparts)
AK             W-ONSH                                                            201218.80
AR             UU,W-ONSH                                                          25059.69
               W-ONSH                                                            279329.85
CA             NN-FRAC,W-ONSH                                                          NaN
               W-ONSH                                                             93278.28

                                         Total reported emissions from Onshore Oil & Gas Production _2013  \
Reported State Industry Type (subparts)
AK             W-ONSH                                                            209490.65
AR             UU,W-ONSH                                                          15959.89
               W-ONSH                                                           1090864.49
CA             NN-FRAC,W-ONSH                                                          NaN
               W-ONSH                                                            183706.04

                                         Total reported emissions from Onshore Oil & Gas Production _2012  \
Reported State Industry Type (subparts)
AK             W-ONSH                                                            184069.54
AR             UU,W-ONSH                                                          68057.81
               W-ONSH                                                           1317019.94
CA             NN-FRAC,W-ONSH                                                          NaN
               W-ONSH                                                            189707.55

                                         Total reported emissions from Onshore Oil & Gas Production _2011
Reported State Industry Type (subparts)
AK             W-ONSH                                                            224666.30
AR             UU,W-ONSH                                                          37505.36
               W-ONSH                                                           1750914.69
CA             NN-FRAC,W-ONSH                                                          NaN
               W-ONSH                                                            164269.76

In [48]:
df_oog_it_st.sort_values(by='Total reported emissions from Onshore Oil & Gas Production ', ascending=False)

,,Total reported emissions from Onshore Oil & Gas Production,Total reported emissions from Onshore Oil & Gas Production _2019,Total reported emissions from Onshore Oil & Gas Production _2018,Total reported emissions from Onshore Oil & Gas Production _2017,Total reported emissions from Onshore Oil & Gas Production _2016,Total reported emissions from Onshore Oil & Gas Production _2015,Total reported emissions from Onshore Oil & Gas Production _2014,Total reported emissions from Onshore Oil & Gas Production _2013,Total reported emissions from Onshore Oil & Gas Production _2012,Total reported emissions from Onshore Oil & Gas Production _2011
Reported State,Industry Type (subparts),,,,,,,,,,
OK,"C,W-ONSH",1275834.23,1692275.99,1042170.46,1191797.06,844629.94,867805.93,1040799.85,1346026.74,872470.05,558994.89
AR,W-ONSH,725019.83,690915.83,666601.28,261873.53,261063.78,276770.48,279329.85,1090864.49,1317019.94,1750914.69
ND,W-ONSH,470553.06,833563.94,588036.16,307245.62,264554.58,478103.61,859838.35,417096.02,421056.43,337132.16
OH,W-ONSH,306758.07,414288.92,380843.98,178626.09,104230.50,261526.87,77782.39,NaN,NaN,NaN
TX,W-ONSH,211828.98,263475.95,237361.73,219836.24,209389.36,261079.41,292556.05,328087.42,315553.16,331191.21
NM,W-ONSH,210710.64,276464.17,232315.10,155633.63,105488.52,142345.30,122158.54,126783.84,185736.85,223087.45
CO,W-ONSH,206331.42,314738.15,328358.73,283785.29,252488.43,265425.25,278048.45,236918.58,186578.82,175886.89
OK,W-ONSH,199689.36,266860.14,290555.65,274590.42,261202.18,323148.55,303930.10,258641.83,320898.37,297689.40
AK,W-ONSH,193788.34,194756.38,205199.25,163625.17,179725.83,152782.58,201218.80,209490.65,184069.54,224666.30
CA,W-ONSH,153642.83,181389.98,174891.11,168409.82,98141.67,107760.20,93278.28,183706.04,189707.55,164269.76
UT,W-ONSH,138898.70,151119.61,144866.24,130062.41,115329.06,112055.85,167503.23,145290.55,151101.65,156291.66
PA,W-ONSH,129120.73,129440.75,162346.65,182404.71,118096.39,151260.59,153258.02,200915.53,124354.87,278497.71
TX,"UU,W-ONSH",97578.95,139229.57,90471.25,83814.93,62174.91,159435.49,107514.30,85159.46,76610.57,83883.47
WY,W-ONSH,97324.77,112806.70,111955.92,87503.72,78104.01,61128.30,72718.66,93967.84,125102.92,138954.71
MI,W-ONSH,77063.54,89178.45,98423.86,113785.40,104684.17,114353.11,116686.90,117676.04,128542.69,124561.61
WV,W-ONSH,76350.07,61841.65,75458.17,63536.69,62833.40,44151.08,40922.89,35617.45,39744.44,43878.14
LA,W-ONSH,62512.22,78275.30,94286.82,91324.58,90853.67,68373.54,49133.02,57695.54,144384.60,161694.66
CO,"UU,W-ONSH",51563.82,156239.23,93052.53,75276.81,61535.58,72353.50,175145.34,121769.64,157075.54,244094.64
MS,W-ONSH,49101.21,61961.08,72351.86,108101.90,90315.13,85696.07,95668.21,100102.68,69117.92,52463.06
MT,W-ONSH,44226.69,99478.86,49170.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CA,"NN-FRAC,W-ONSH",31463.09,26161.81,26581.46,27277.41,NaN,NaN,NaN,NaN,NaN,NaN
AR,"UU,W-ONSH",31360.80,32928.77,31222.60,27933.25,31319.84,34804.90,25059.69,15959.89,68057.81,37505.36
MI,"RR (RPT),W-ONSH",29252.35,37569.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
df_ldc.columns

Index(['Facility Id', 'FRS Id', 'Facility Name', 'State where Emissions Occur',
       'Reported City', 'Reported State', 'Reported Zip Code',
       'Reported Address', 'Reported County', 'Reported Latitude',
       'Reported Longitude', 'Primary NAICS Code', 'Industry Type (subparts)',
       'Total reported direct emissions from Local Distribution Companies',
       'Total reported direct emissions from Local Distribution Companies_2019',
       'Total reported direct emissions from Local Distribution Companies_2018',
       'Total reported direct emissions from Local Distribution Companies_2017',
       'Total reported direct emissions from Local Distribution Companies_2016',
       'Total reported direct emissions from Local Distribution Companies_2015',
       'Total reported direct emissions from Local Distribution Companies_2014',
       'Total reported direct emissions from Local Distribution Companies_2013',
       'Total reported direct emissions from Local Distribution Companies_2012',
       'Total reported direct emissions from Local Distribution Companies_2011'],
      dtype='object')

In [50]:
df_ldc_it_st = df_ldc.groupby(['Reported State','Industry Type (subparts)'])[['Total reported direct emissions from Local Distribution Companies',
       'Total reported direct emissions from Local Distribution Companies_2019',
       'Total reported direct emissions from Local Distribution Companies_2018',
       'Total reported direct emissions from Local Distribution Companies_2017',
       'Total reported direct emissions from Local Distribution Companies_2016',
       'Total reported direct emissions from Local Distribution Companies_2015',
       'Total reported direct emissions from Local Distribution Companies_2014',
       'Total reported direct emissions from Local Distribution Companies_2013',
       'Total reported direct emissions from Local Distribution Companies_2012',
       'Total reported direct emissions from Local Distribution Companies_2011']].mean().apply(lambda x: round(x,2))

In [51]:
df_ldc_it_st.head()

,,Total reported direct emissions from Local Distribution Companies,Total reported direct emissions from Local Distribution Companies_2019,Total reported direct emissions from Local Distribution Companies_2018,Total reported direct emissions from Local Distribution Companies_2017,Total reported direct emissions from Local Distribution Companies_2016,Total reported direct emissions from Local Distribution Companies_2015,Total reported direct emissions from Local Distribution Companies_2014,Total reported direct emissions from Local Distribution Companies_2013,Total reported direct emissions from Local Distribution Companies_2012,Total reported direct emissions from Local Distribution Companies_2011
Reported State,Industry Type (subparts),,,,,,,,,,
AL,"NN-LDC,W-LDC",37914.10,39847.33,41918.30,44683.78,45969.70,48890.34,51050.59,78916.69,69887.04,70883.73
AR,"NN-LDC,W-LDC",164066.75,104075.80,97976.25,65689.00,61738.55,61305.30,60879.80,62274.20,67661.55,65322.55
AZ,"NN-LDC,W-LDC",10825.92,10642.30,10572.00,10460.60,10406.50,10338.08,10061.70,9663.72,10107.70,10580.48
CA,"NN-LDC,W-LDC",548482.12,548295.63,549075.10,549689.63,552440.63,552887.50,551471.27,554877.70,567798.75,561602.05
CO,"NN-LDC,W-LDC",110734.68,185908.80,184926.45,188475.30,192661.25,206534.20,191428.25,188368.40,212685.35,169216.95

In [52]:
df_ldc_it_state = df_ldc[['Reported State', 'Industry Type (subparts)']]

In [54]:
df_ldc_it_state.groupby('Reported State').count()

                Industry Type (subparts)
Reported State
AL                                     5
AR                                     1
AZ                                     2
CA                                     3
CO                                     2
CT                                     4
DE                                     2
FL                                     5
GA                                     1
IA                                     6
ID                                     1
IL                                     5
IN                                    11
KS                                     2
KY                                     3
LA                                     2
MA                                     6
MD                                     3
MI                                     3
MN                                     3
MO                                     5
MS                                     1
MT                                     3
NC                                     5
NE                                     2
NJ                                     4
NM                                     2
NV                                     3
NY                                     8
OH                                     3
OK                                     1
OR                                     2
PA                                     6
RI                                     1
SC                                     3
TN                                     8
TX                                    18
UT                                     2
VA                                     6
VT                                     1
WA                                     3
WI                                     5
WV                                     2

In [55]:
df_ldc_it_state.groupby('Industry Type (subparts)').count()

                          Reported State
Industry Type (subparts)
NN-LDC,W-LDC                         164

In [56]:
df_ldc_it_st.sort_values(by='Total reported direct emissions from Local Distribution Companies',ascending=False)

,,Total reported direct emissions from Local Distribution Companies,Total reported direct emissions from Local Distribution Companies_2019,Total reported direct emissions from Local Distribution Companies_2018,Total reported direct emissions from Local Distribution Companies_2017,Total reported direct emissions from Local Distribution Companies_2016,Total reported direct emissions from Local Distribution Companies_2015,Total reported direct emissions from Local Distribution Companies_2014,Total reported direct emissions from Local Distribution Companies_2013,Total reported direct emissions from Local Distribution Companies_2012,Total reported direct emissions from Local Distribution Companies_2011
Reported State,Industry Type (subparts),,,,,,,,,,
CA,"NN-LDC,W-LDC",548482.12,548295.63,549075.10,549689.63,552440.63,552887.50,551471.27,554877.70,567798.75,561602.05
MI,"NN-LDC,W-LDC",229807.38,241575.74,250666.53,283846.28,279912.98,287643.83,322836.82,322731.40,128789.80,129809.43
OH,"NN-LDC,W-LDC",208308.80,212898.00,217864.63,223983.18,230492.38,246065.98,251461.13,281324.37,307474.82,367033.67
NJ,"NN-LDC,W-LDC",177008.61,190576.05,205966.23,214321.14,229195.69,242292.76,253901.23,261176.98,272323.56,280975.98
GA,"NN-LDC,W-LDC",165161.15,154525.30,156542.84,154795.44,151902.05,160923.89,155671.85,155513.80,191483.40,217658.90
AR,"NN-LDC,W-LDC",164066.75,104075.80,97976.25,65689.00,61738.55,61305.30,60879.80,62274.20,67661.55,65322.55
OK,"NN-LDC,W-LDC",149571.85,153549.15,159667.20,162173.55,156144.50,159325.30,164920.75,170913.20,189506.95,188410.30
PA,"NN-LDC,W-LDC",148489.66,152937.02,158476.48,152816.73,156568.37,160198.24,153391.07,156749.50,158013.15,175419.48
RI,"NN-LDC,W-LDC",137393.40,142505.35,143813.35,148417.20,153486.55,158820.20,166207.30,171913.50,177858.95,183717.65
NY,"NN-LDC,W-LDC",134802.81,139004.21,144249.52,151735.65,159805.04,166606.73,172592.15,176838.09,186976.94,211198.61
CO,"NN-LDC,W-LDC",110734.68,185908.80,184926.45,188475.30,192661.25,206534.20,191428.25,188368.40,212685.35,169216.95
WV,"NN-LDC,W-LDC",104260.42,107804.05,109009.62,110552.52,112282.83,128075.58,134645.92,145267.83,167440.95,227769.10
MA,"NN-LDC,W-LDC",100909.54,103692.19,107922.69,111900.65,117916.05,123332.73,126177.05,130960.42,135005.03,139428.91
TX,"NN-LDC,W-LDC",80444.26,83748.87,85966.08,87404.38,85743.34,88746.87,66320.27,68307.06,80953.17,77281.91
IL,"NN-LDC,W-LDC",76699.79,78916.87,83732.50,80158.21,83389.83,90696.68,92711.05,89360.40,95711.11,101732.19
MD,"NN-LDC,W-LDC",64973.82,68278.38,71198.32,110946.72,116226.82,118855.10,121900.08,124554.00,126707.95,129945.33
IN,"NN-LDC,W-LDC",63465.03,66583.77,71460.42,75062.36,79874.00,84653.22,89394.03,91475.85,106037.36,98478.57
NE,"NN-LDC,W-LDC",55295.30,61755.90,68237.95,74892.10,81247.80,85968.50,90319.00,183171.00,104838.00,103556.50
NC,"NN-LDC,W-LDC",52776.63,52400.75,52649.98,50085.17,52399.26,49746.17,48504.71,45389.27,41546.20,39449.78
MN,"NN-LDC,W-LDC",50824.11,64197.52,64432.08,65534.85,67187.23,75814.08,66892.67,68789.85,73766.25,76635.60
NV,"NN-LDC,W-LDC",50544.97,49836.67,49203.13,48278.37,47796.13,47710.33,47289.58,47213.50,47039.18,47225.32
CT,"NN-LDC,W-LDC",50440.75,53240.97,54387.94,56073.94,57240.37,59197.42,56280.65,62342.65,65383.85,67198.07
KS,"NN-LDC,W-LDC",50142.35,51826.28,55555.10,51762.85,56504.38,60992.20,63933.58,76078.22,65773.28,69939.12
UT,"NN-LDC,W-LDC",48840.15,47756.60,91216.25,87714.65,87101.95,85404.20,83245.20,81941.75,80496.10,78899.60
VA,"NN-LDC,W-LDC",40118.55,41740.69,42935.54,43607.23,48895.18,46214.80,47098.94,47904.72,49880.42,53196.34
AL,"NN-LDC,W-LDC",37914.10,39847.33,41918.30,44683.78,45969.70,48890.34,51050.59,78916.69,69887.04,70883.73
WI,"NN-LDC,W-LDC",35612.38,35217.04,42879.55,41420.24,38862.10,36955.60,36528.57,36443.80,36008.75,36093.65
WA,"NN-LDC,W-LDC",34626.00,33562.93,33601.93,34152.40,37090.55,36978.70,37817.00,38134.02,38304.80,34945.10
MO,"NN-LDC,W-LDC",33325.10,35360.70,37518.49,39640.44,40581.44,41867.52,42580.74,43592.26,44983.40,46011.02
OR,"NN-LDC,W-LDC",33190.20,33095.85,32918.15,32722.15,32769.95,32067.22,33440.65,33480.68,33644.40,33678.45
ID,"NN-LDC,W-LDC",32433.00,31899.15,32989.70,34333.55,30207.15,29779.20,NaN,NaN,28935.45,28897.00
FL,"NN-LDC,W-LDC",29033.78,29507.17,31040.60,32163.35,33686.62,34194.46,44143.11,57566.61,63582.59,64467.04
NM,"NN-LDC,W-LDC",27824.75,27739.72,28087.92,27636.40,27679.25,28414.70,33196.55,32066.80,62605.10,60270.15
IA,"NN-LDC,W-LDC",19270.14,19416.84,19373.97,19342.50,19349.02,19423.42,19843.88,20294.90,21174.54,21407.83
SC,"NN-LDC,W-LDC",15857.92,22564.90,22345.52,22137.45,21246.12,21483.52,22064.70,38439.30,39700.70,36806.60
DE,"NN-LDC,W-LDC",15596.05,15673.60,16009.25,16364.82,17007.12,17332.85,15513.75,15665.90,20095.65,20235.10
LA,"NN-LDC,W-LDC",14930.00,16526.03,18349.22,20700.45,23473.75,26345.70,28476.30,30259.80,33997.95,35101.50
MT,"NN-LDC,W-LDC",12145.13,12213.70,12473.17,12186.70,12302.72,13019.02,11894.08,11832.38,11718.75,12271.47
AZ,"NN-LDC,W-LDC",10825.92,10642.30,10572.00,10460.60,10406.50,10338.08,10061.70,9663.72,10107.70,10580.48
KY,"NN-LDC,W-LDC",8331.28,8412.00,8564.05,8517.60,10532.28,12708.37,15782.25,15763.58,18641.58,18625.27
TN,"NN-LDC,W-LDC",7061.49,7210.99,7355.90,13733.97,13971.60,13679.94,18318.06,31473.06,38277.81,16806.22
VT,"NN-LDC,W-LDC",4067.15,4047.65,0.00,NaN,3792.00,3646.90,2920.70,0.00,2735.45,0.00
MS,"NN-LDC,W-LDC",3065.70,3088.95,3105.95,4089.30,4917.05,4995.15,3887.25,3875.75,3804.10,4022.60

In [80]:
df_ldc.isna().count()

Facility Id                                                               164
FRS Id                                                                    164
Facility Name                                                             164
State where Emissions Occur                                               164
Reported City                                                             164
Reported State                                                            164
Reported Zip Code                                                         164
Reported Address                                                          164
Reported County                                                           164
Reported Latitude                                                         164
Reported Longitude                                                        164
Primary NAICS Code                                                        164
Industry Type (subparts)                                                  164
Total reported direct emissions from Local Distribution Companies         164
Total reported direct emissions from Local Distribution Companies_2019    164
Total reported direct emissions from Local Distribution Companies_2018    164
Total reported direct emissions from Local Distribution Companies_2017    164
Total reported direct emissions from Local Distribution Companies_2016    164
Total reported direct emissions from Local Distribution Companies_2015    164
Total reported direct emissions from Local Distribution Companies_2014    164
Total reported direct emissions from Local Distribution Companies_2013    164
Total reported direct emissions from Local Distribution Companies_2012    164
Total reported direct emissions from Local Distribution Companies_2011    164
dtype: int64

In [82]:
df_ldc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164 entries, 0 to 163
Data columns (total 23 columns):
 #   Column                                                                  Non-Null Count  Dtype
---  ------                                                                  --------------  -----
 0   Facility Id                                                             164 non-null    int64
 1   FRS Id                                                                  161 non-null    float64
 2   Facility Name                                                           164 non-null    object
 3   State where Emissions Occur                                             163 non-null    object
 4   Reported City                                                           164 non-null    object
 5   Reported State                                                          164 non-null    object
 6   Reported Zip Code                                                       164 non-null    int64
 7   Reported Address                                                        164 non-null    object
 8   Reported County                                                         159 non-null    object
 9   Reported Latitude                                                       164 non-null    float64
 10  Reported Longitude                                                      164 non-null    float64
 11  Primary NAICS Code                                                      164 non-null    int64
 12  Industry Type (subparts)                                                164 non-null    object
 13  Total reported direct emissions from Local Distribution Companies       164 non-null    float64
 14  Total reported direct emissions from Local Distribution Companies_2019  160 non-null    float64
 15  Total reported direct emissions from Local Distribution Companies_2018  158 non-null    float64
 16  Total reported direct emissions from Local Distribution Companies_2017  156 non-null    float64
 17  Total reported direct emissions from Local Distribution Companies_2016  156 non-null    float64
 18  Total reported direct emissions from Local Distribution Companies_2015  156 non-null    float64
 19  Total reported direct emissions from Local Distribution Companies_2014  154 non-null    float64
 20  Total reported direct emissions from Local Distribution Companies_2013  149 non-null    float64
 21  Total reported direct emissions from Local Distribution Companies_2012  148 non-null    float64
 22  Total reported direct emissions from Local Distribution Companies_2011  147 non-null    float64
dtypes: float64(13), int64(3), object(7)
memory usage: 29.6+ KB

In [68]:
ldc_scale = scale(df_ldc_it_st)
df_ldc_columns= df_ldc_it_st.columns
df_ldc_scaled = pd.DataFrame(ldc_scale, columns = df_ldc_columns)

In [69]:
df_ldc_scaled.sort_values(by='Total reported direct emissions from Local Distribution Companies',ascending=False)

,Total reported direct emissions from Local Distribution Companies,Total reported direct emissions from Local Distribution Companies_2019,Total reported direct emissions from Local Distribution Companies_2018,Total reported direct emissions from Local Distribution Companies_2017,Total reported direct emissions from Local Distribution Companies_2016,Total reported direct emissions from Local Distribution Companies_2015,Total reported direct emissions from Local Distribution Companies_2014,Total reported direct emissions from Local Distribution Companies_2013,Total reported direct emissions from Local Distribution Companies_2012,Total reported direct emissions from Local Distribution Companies_2011
3,5.028471,4.938638,4.864280,4.717342,4.719454,4.590312,4.435007,4.323587,4.586557,4.278245
18,1.608189,1.687238,1.733129,1.991484,1.942075,1.945338,2.211658,2.109760,0.286684,0.253530
29,1.377448,1.383238,1.388944,1.377670,1.438420,1.530729,1.517567,1.714888,2.036814,2.464684
25,1.041508,1.146613,1.264096,1.278599,1.425205,1.493103,1.541296,1.522756,1.692525,1.662545
8,0.914351,0.764455,0.745505,0.668245,0.637492,0.681703,0.586067,0.515115,0.900736,1.072370
1,0.902605,0.229663,0.130976,-0.245419,-0.281381,-0.311680,-0.335736,-0.374050,-0.312037,-0.347549
30,0.747034,0.754107,0.778288,0.743897,0.680727,0.665762,0.676008,0.661969,0.881378,0.799745
32,0.735419,0.747619,0.765794,0.647956,0.685047,0.674467,0.563888,0.526899,0.572912,0.678659
33,0.616325,0.637037,0.611937,0.602845,0.653640,0.660726,0.688519,0.671509,0.767291,0.756005
28,0.588521,0.599923,0.616513,0.636871,0.718033,0.738372,0.750608,0.718471,0.856598,1.012154
4,0.330201,1.097138,1.043329,1.013585,1.052876,1.136523,0.933779,0.828428,1.108399,0.620845
42,0.260714,0.269184,0.246747,0.214594,0.233725,0.354144,0.381601,0.417406,0.665252,1.166607
16,0.224750,0.225596,0.235342,0.228418,0.291134,0.306849,0.299246,0.280966,0.347559,0.343192
36,0.005099,0.014186,0.004955,-0.022758,-0.036744,-0.038036,-0.282830,-0.316518,-0.181852,-0.236076
11,-0.035089,-0.037036,-0.018482,-0.097057,-0.060729,-0.018593,-0.026194,-0.115746,-0.037306,-0.008177
17,-0.160942,-0.149810,-0.150001,0.218636,0.273919,0.262199,0.257654,0.219872,0.266293,0.254797
12,-0.177136,-0.167774,-0.147250,-0.149308,-0.096559,-0.078858,-0.058450,-0.095573,0.063835,-0.038503
24,-0.264820,-0.218952,-0.181063,-0.151054,-0.082559,-0.065742,-0.049455,0.778864,0.052088,0.008828
23,-0.291853,-0.318121,-0.344625,-0.405415,-0.376559,-0.426946,-0.456077,-0.535070,-0.567824,-0.588708
19,-0.312809,-0.193069,-0.220998,-0.247000,-0.225853,-0.167000,-0.277264,-0.311914,-0.252245,-0.242101
27,-0.315805,-0.345302,-0.380792,-0.423941,-0.423471,-0.447247,-0.467893,-0.517674,-0.514023,-0.516232
5,-0.316923,-0.309215,-0.326389,-0.344008,-0.327223,-0.332699,-0.380460,-0.373397,-0.334346,-0.330067
13,-0.320126,-0.324211,-0.314142,-0.388213,-0.334723,-0.314802,-0.306039,-0.242410,-0.330532,-0.304518
37,-0.334102,-0.367352,0.060044,-0.019576,-0.022898,-0.071369,-0.118244,-0.186493,-0.186329,-0.220998
38,-0.427710,-0.431124,-0.446557,-0.471837,-0.412270,-0.462160,-0.469747,-0.511082,-0.486194,-0.460577
0,-0.451370,-0.451195,-0.457231,-0.460799,-0.442084,-0.435480,-0.431320,-0.215341,-0.290240,-0.295713
41,-0.476074,-0.500278,-0.447145,-0.494262,-0.514519,-0.554492,-0.572539,-0.620377,-0.622061,-0.619990
40,-0.486660,-0.517813,-0.544493,-0.568784,-0.532573,-0.554261,-0.560009,-0.604259,-0.599572,-0.630695
20,-0.500623,-0.498755,-0.503397,-0.512511,-0.496997,-0.505511,-0.513684,-0.552207,-0.534158,-0.527551
31,-0.502070,-0.522764,-0.551668,-0.583449,-0.576605,-0.603238,-0.602567,-0.648635,-0.645218,-0.642502
10,-0.510197,-0.535450,-0.550917,-0.566926,-0.602723,-0.626054,NaN,NaN,-0.691340,-0.687069
7,-0.546681,-0.560806,-0.571369,-0.589179,-0.567263,-0.582026,-0.498491,-0.418943,-0.351989,-0.355523
26,-0.559657,-0.579542,-0.602351,-0.635596,-0.628486,-0.639661,-0.604941,-0.662118,-0.361563,-0.394642
9,-0.651472,-0.667769,-0.693785,-0.720639,-0.713381,-0.729320,-0.734788,-0.774379,-0.767354,-0.756876
34,-0.688095,-0.634398,-0.662605,-0.691981,-0.694047,-0.708777,-0.713192,-0.601347,-0.585900,-0.613345
6,-0.690906,-0.707449,-0.729090,-0.751171,-0.737247,-0.750167,-0.776897,-0.818522,-0.777921,-0.767807
15,-0.698054,-0.698413,-0.704537,-0.706715,-0.671345,-0.660292,-0.650843,-0.679350,-0.641755,-0.629238
22,-0.727944,-0.744126,-0.766194,-0.794012,-0.785191,-0.793184,-0.812096,-0.855080,-0.859969,-0.842035
2,-0.742103,-0.760784,-0.786142,-0.811711,-0.804515,-0.819918,-0.829915,-0.875761,-0.875748,-0.857797
14,-0.768877,-0.784426,-0.807212,-0.831633,-0.803234,-0.796282,-0.774286,-0.817591,-0.792163,-0.782812
35,-0.782506,-0.797158,-0.819888,-0.778147,-0.768183,-0.786594,-0.749626,-0.667780,-0.599836,-0.799767
39,-0.814643,-0.830691,-0.897073,NaN,-0.871925,-0.886642,-0.899357,-0.967918,-0.947956,-0.956417
21,-0.825392,-0.840854,-0.864482,-0.877039,-0.860459,-0.873197,-0.889958,-0.930957,-0.937489,-0.918922

In [70]:
df_ldc_scaled.mean()

Total reported direct emissions from Local Distribution Companies         6.454785e-17
Total reported direct emissions from Local Distribution Companies_2019   -7.745742e-17
Total reported direct emissions from Local Distribution Companies_2018   -7.229359e-17
Total reported direct emissions from Local Distribution Companies_2017   -1.632292e-16
Total reported direct emissions from Local Distribution Companies_2016   -5.163828e-17
Total reported direct emissions from Local Distribution Companies_2015   -4.905637e-17
Total reported direct emissions from Local Distribution Companies_2014   -5.022437e-17
Total reported direct emissions from Local Distribution Companies_2013    1.876806e-16
Total reported direct emissions from Local Distribution Companies_2012   -2.581914e-17
Total reported direct emissions from Local Distribution Companies_2011    1.910616e-16
dtype: float64

In [72]:
df_ldc_scaled.std(ddof=0)

Total reported direct emissions from Local Distribution Companies         1.0
Total reported direct emissions from Local Distribution Companies_2019    1.0
Total reported direct emissions from Local Distribution Companies_2018    1.0
Total reported direct emissions from Local Distribution Companies_2017    1.0
Total reported direct emissions from Local Distribution Companies_2016    1.0
Total reported direct emissions from Local Distribution Companies_2015    1.0
Total reported direct emissions from Local Distribution Companies_2014    1.0
Total reported direct emissions from Local Distribution Companies_2013    1.0
Total reported direct emissions from Local Distribution Companies_2012    1.0
Total reported direct emissions from Local Distribution Companies_2011    1.0
dtype: float64

In [75]:
ldc_pca = PCA().fit(df_ldc_scaled)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [76]:
df_ldc_it_st.isna().count()

Total reported direct emissions from Local Distribution Companies         43
Total reported direct emissions from Local Distribution Companies_2019    43
Total reported direct emissions from Local Distribution Companies_2018    43
Total reported direct emissions from Local Distribution Companies_2017    43
Total reported direct emissions from Local Distribution Companies_2016    43
Total reported direct emissions from Local Distribution Companies_2015    43
Total reported direct emissions from Local Distribution Companies_2014    43
Total reported direct emissions from Local Distribution Companies_2013    43
Total reported direct emissions from Local Distribution Companies_2012    43
Total reported direct emissions from Local Distribution Companies_2011    43
dtype: int64

In [ ]:
df_ldc_dropped_na.